html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	height: 100%;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	color: #333333;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

/* #region Header */

.Header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0 1rem;
	height: 3rem;
	background-color: white;
	z-index: 100;
	border-bottom: 1px solid #d6d6d6;
}

.Header a,
.Header a:visited,
.Header a:active,
.Header a:focus {
	color: #333333;
	text-decoration: none;
}

.Header .logo-container {
	display: inline-block;
	font-weight: 600;
}

.Header .logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.Header .logo > svg {
	fill: #a5a5a5 !important;
	margin-right: 0.3rem;
}

.Header > ul {
	list-style: none;
}

.Header > ul > li {
	display: inline-block;
}

/* #endregion Header */

.km-gray,
.km-gray a {
	color: #a5a5a5;
}

p {
	margin-bottom: 1rem !important;
}

p:last-child {
	margin-bottom: 0 !important;
}
