.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	padding-bottom: 2rem;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 100%
	);
}

@media (min-width: 600px) {
	.hero {
		min-height: 80vh;
	}
}

.hero h1 {
	margin-bottom: 1rem;
}
