.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	height: calc(100vh - 3rem); /* Account for the Header */
	padding: 0 1rem;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 100%
	);
}

.gearIcon {
	height: 50px !important;
	width: 50px !important;
	fill: #a5a5a5 !important;
	animation: spin 4s infinite linear;
	margin-bottom: 0.5rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.title,
.subtitle {
	text-align: center;
}
