.root {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 100%
	);
}

.hero {
	height: calc(70vh - 3rem); /* Account for the Header */
}

.title,
.subtitle {
	text-align: center;
}
